      
    <footer class=" footer-distributed">
        <div class="footer-left">
            <div class="hidden-xs">
                <p class="footer-company-name">
                    Copyright © 2016 RTWO HealthCare Solutions | All Rights Reserved.
                </p>
            </div>
        </div>

        <div class="footer-center">
            <p>
            <a href="http://confidentdentalcare.in/php/about_confident.php" target="_blank">About Us</a> |
            <a href="">Terms and Conditions</a> |
            <a href="http://confidentdentalcare.in/php/contact_us.php" target="_blank">Contact Us</a>
            </p>
        </div>

        <div class="footer-right">
            
            <div class="footer-icons social">

                <a class="fa fa-2x fa-google-plus" href="https://plus.google.com/+ConfidentdentalcareInBestDentalClinic/posts" target="_blank"></a>
                <a class="fa fa-2x fa-facebook" href="http://www.facebook.com/ConfidentDentalCareIndia" target="_blank"></a>
                <a class="fa fa-2x fa-twitter" href="https://twitter.com/Confident_care" target="_blank"></a>
                <a class="fa fa-2x fa-youtube" href="http://www.youtube.com/user/Confidentalhospital" target="_blank"></a>
                <a class="fa fa-2x fa-tags" href="http://confidentdental.blogspot.com/" target="_blank"></a>
                <a class="fa fa-2x fa-pinterest" href="http://www.pinterest.com/confidentdental/dental-care/" target="_blank"></a>
                <a class="fa fa-2x fa-envelope" href="mailto:pro@confidentdentalcare.in?cc=saphal@confidentdentalcare.in,administrator@confidentdentalcare.in" target="_blank"></a>      
            </div>

        </div>
    </footer>