
.prsnl-profile {
	font-size: 250px;
}

.prsnl-cust-list {
	font-size: 100px;
    height: 100px;
}

.prsnl-image {
	font-size: 100px;
    height: 100px;
}


.chkbox-cons-left {
	width: 10%;
}

.extra-padding {
	padding-bottom: 15px;
	padding-top: 15px;
}

.list-group-item-text {
	word-wrap: break-word;
}

.dayList  {
    border-radius: 32px;
    margin-left: 1%;
    height: 30px;
    width: 180px;
}
 h1,h4,h2{
         color: #248dc9;
     }
    

 td{
         text-align:center;
     }
.dropdown-menu{
         margin-left: 15px;
     }
     
     @import "compass/css3";

.star-rating {
  margin: 0;
  padding: 0;
  display: inline-block;
  
  .star {
    padding: 1px;
    color: #ddd;
    font-size: 20px;
    text-shadow: .05em .05em #aaa;
    list-style-type: none;
    display: inline-block;
    cursor: pointer;

    &.filled {
      color: #fd0;
    }
  }

  &.readonly .star.filled {
    color: #666;
  }
}

<<<<<<< HEAD

@media only screen and (max-width: 768px)  {
     
     
     
    .input-group .form-control{
        position: relative;
        z-index: 0;
    }
    .input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group{
            z-index: 0;
             position: relative;
    }
    
 }
 
 
 @media only screen and (max-width: 1950px)  {
      .input-group .form-control{
        position: relative;
        z-index: 0;
    }
    .input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group{
            z-index: 0;
             position: relative;
    }
 }
 
 
  @media only screen and (max-width: 926px)  {
 
     .container{
             margin-bottom: 108px;
     }
 }
 
 @media only screen and (max-width: 896px)  {
 
    .container{
             margin-bottom: 150px;
     }
 }
 
  @media only screen and (max-width: 935px)  {
 
    .text-center{
             margin-top: 75px;
              }
     .fa-user-md{
          margin-top: 75px;
     }          
 }
 /*@media only screen and (max-width: 878px)  {
     .navbar-brand{
         background-color:  #00A89C;
         color: #fff;
     }
    
 }*/
 
 
=======

<<<<<<< HEAD
@media only screen and (max-width: 768px)  {
     
     
     
    .input-group .form-control{
        position: relative;
        z-index: 0;
    }
    .input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group{
            z-index: 0;
             position: relative;
    }
    
 }
 
 
 @media only screen and (max-width: 1950px)  {
      .input-group .form-control{
        position: relative;
        z-index: 0;
    }
    .input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group{
            z-index: 0;
             position: relative;
    }
 }
 
 
  @media only screen and (max-width: 926px)  {
 
     .container{
             margin-bottom: 108px;
     }
 }
 
 @media only screen and (max-width: 896px)  {
 
    .container{
             margin-bottom: 150px;
     }
 }
 
  @media only screen and (max-width: 935px)  {
 
    .text-center{
             margin-top: 75px;
              }
     .fa-user-md{
          margin-top: 75px;
     }          
 }
 /*@media only screen and (max-width: 878px)  {
     .navbar-brand{
         background-color:  #00A89C;
         color: #fff;
     }
    
 }*/
 
 
=======
@import "compass/css3";

.star-rating {
  margin: 0;
  padding: 0;
  display: inline-block;
  
  .star {
    padding: 1px;
    color: #ddd;
    font-size: 20px;
    text-shadow: .05em .05em #aaa;
    list-style-type: none;
    display: inline-block;
    cursor: pointer;

    &.filled {
      color: #fd0;
    }
  }

  &.readonly .star.filled {
    color: #666;
  }
}
>>>>>>> 3f230c6b331f02a2ca632f31379b0e1aa3612386
>>>>>>> f57e6ae079db3192a5701f6dcbe3223465f12be8
